/*Kysely v0.03*/

body {
    margin:0;
    top:0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FCFCFC;
    text-align: center;
}

h1 {
    padding-top:10%;
}

h2 {
    padding-top:20%;
    padding-bottom:10%;
    font-size: 19px;
    font-weight: bold;
}

h3 {
    padding-top:5%;
}


div  {
    padding:2px;
}

.hymyt {
    padding:0;
    display: inline-flex;
    white-space:nowrap;
}

.hymyt label {
    min-width:20%;
}

.hymyt label span
{
    display: block;
    width: 100%;
    padding: 5%;
}

.question {
    max-width: 100%;
}

img {
    max-width: 80%;
    height:auto;
    padding:10%;
}

label > input {
    display: none;
    border: 2px solid transparent;
    border-radius: 20px;
}


label > input + img {
    cursor: pointer;
    border: 1.5px solid grey;
    border-radius: 20px;
    background-color: #FAF9F5;
}

label:hover > input + img {
    cursor: pointer;
    border: 1.5px solid grey;
    border-radius: 20px;
    background-color: #F0EDE6;
}

label > input:checked + img {
    border:1.5px solid black;
    background-color: #EBE8E1;
}

.btn {
    width: 40%;
    font-size: 17px;
    margin-top:20%;
    margin-bottom:30%;
}